<ng-container class="fof" *ngIf="data$ | async as data">

  <div class="mx-auto p-2" style="width: 200px;" *ngIf="data.weather == null && data.error == null">

    <nz-content>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Consulta la Temperatura</h5>
          <h5>
            <i class="fa fa-arrow-up"></i>
            Para Iniciar escribe algo en la caja de texto arriba y presiona enter o el botón buscar
          </h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Aplicación en Angular</h6>
          <p class="card-text">
            Ejemplo rápido para consumir una API de Springboot y utilizar NgRx para el manejo
            del estado global de la Aplicación, manejando y utilizando los datos de la API provehída
          </p>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item fas fa-coffee">Springboot</li>
            <li class="list-group-item fa fa-code">Angular</li>
            <li class="list-group-item fa fa-code">NgRx</li>
            <li class="list-group-item fa fa-cut">Bootstrap</li>
            <li class="list-group-item fa fa-book">FontAwesome</li>
          </ul>
        </div>
      </div>

    </nz-content>

  </div>

  <nz-content>
    <div class="row mx-auto p-2" *ngIf="data.weather != null">

      <div class="row col ms-5">
        <table class="table">
          <thead>
            <tr class="table-primary">
              <th scope="col">Item</th>
              <th scope="col">Información</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td scope="row">Comuna</td>
              <td>{{ (data.weather!.name) }}</td>
            </tr>
            <tr class="">
              <td scope="row">Temperatura</td>
              <td>{{ data.weather!.main!.temp }}°C</td>
            </tr>
            <tr>
              <td scope="row">Sensación Térmica</td>
              <td>{{ data.weather!.main!.feels_like }}°C</td>
            </tr>
            <tr>
              <td scope="row">Humedad</td>
              <td>{{ data.weather!.main!.humidity }}</td>
            </tr>
            <tr>
              <td scope="row">Temperatura Mínima</td>
              <td>{{ data.weather!.main!.temp_min }}°C</td>
            </tr>
            <tr>
              <td scope="row">Temperatura Máxima</td>
              <td>{{ data.weather!.main!.temp_max }}°C</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col mx-auto ms-5">
        <app-map></app-map>
      </div>

    </div>
  </nz-content>

  <nz-content *ngIf="data.error != null">
    <app-conditions></app-conditions>
  </nz-content>
</ng-container>
