<nz-header class="justify-content-center">
  <i class="logo fa fa-laptop fa-2x">Logo</i>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item>
      <nz-input-group style="padding: 1rem;" nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text"
               nz-input
               placeholder="Buscar por comuna"
               [formControl]="txtInput"
               (keyup.enter)="buscar()" />
      </nz-input-group>
      <ng-template  type="button" #suffixIconButton>
        <button nz-button nzType="primary" (click)="buscar()" nzSearch><span nz-icon nzType="search"></span></button>
      </ng-template>
    </li>
    <li nz-menu-item routerLink="/">El Tiempo</li>
    <li nz-menu-item routerLink="/conditions" >Las Noticias</li>
  </ul>
</nz-header>
