<!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">

    <div class="row justify-content-center align-items-center g-2">
      <div class="col"><a class="navbar-brand" routerLink="/"><i class="fa fa-laptop fa-2x"></i></a></div>
      <div class="col">Column</div>
      <div class="col">
        <ul>
          <li>algo</li>
          <li>algo</li>
          <li>algo</li>
        </ul>
      </div>
    </div>

  </div>
  
</nav> -->

<div class="container">
  <nz-footer>
    <div class="row d-flex">
      <div class="col-lg-5 col-md-6 col-6">
  
        <a class="logo navbar-brand" routerLink="/"><i class="fa fa-laptop fa-2x">Logo</i></a>
  
      </div>
      <div class="col-lg-5 col-md-6 col-6">
  
        <h5>Diseñada por Cristian Reyes ©2023 Implementando NgZorro para Angular</h5>
  
      </div>
    </div>
  </nz-footer>
</div>
